services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.3
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.5.3
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper:2181"
      KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://kafka:9092"
      KAFKA_LISTENERS: "PLAINTEXT://0.0.0.0:9092"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  localstack:
    image: localstack/localstack:3.0
    environment:
      - SERVICES=s3
      - DEBUG=0
    ports:
      - "4566:4566"
    volumes:
      - "./localstack:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"

  marquez-db:
    image: postgres:14
    environment:
      POSTGRES_USER: marquez
      POSTGRES_PASSWORD: marquez
      POSTGRES_DB: marquez
    ports:
      - "5433:5432"
    networks:
      default:
        aliases:
        - postgres

  marquez:
    platform: linux/amd64
    image: marquezproject/marquez:0.49.0
    depends_on:
      marquez-db:
        condition: service_started
    environment:
      POSTGRES_HOST: marquez-db
      POSTGRES_PORT: 5432
      POSTGRES_USER: marquez
      POSTGRES_PASSWORD: marquez
      POSTGRES_DB: marquez
    ports:
    - "5500:5000"
    - "5501:5001"


  marquez-web:
    platform: linux/amd64
    image: marquezproject/marquez-web:0.49.0
    depends_on:
      - marquez
    environment:
      MARQUEZ_HOST: marquez
      MARQUEZ_PORT: 5000
    ports:
      - "3000:3000"
  
  spark:
    image: apache/spark:3.5.8-scala2.12-java11-python3-r-ubuntu
    container_name: docker-spark
    depends_on:
      - kafka
      - localstack
      - marquez
    environment:
      - SPARK_MODE=master
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
      - AWS_DEFAULT_REGION=us-east-1
    volumes:
      - ../spark_jobs:/opt/spark_jobs
    ports:
      - "4040:4040"
    command: ["bash", "-lc", "sleep infinity"]
